.note-empty {
  flex: 1;
  font-size: 50px;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
}
.note-empty.hidden {
  display: none;
}
.note-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.note-content .note-bar {
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.note-content .note-bar:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.note-content .note-bar span {
  font-size: 12px;
  color: #777;
  margin-right: 4px;
}
.note-content .note-bar .iconfont {
  float: right;
  margin-left: 4px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
}
.note-content .note-title input,
.note-content .note-title span {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 20px;
}
.note-content .editor {
  height: calc(100% - 70px);
  overflow: auto;
  position: relative;
}
.note-content textarea,
.note-content .preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-align: left;
}
.note-content textarea {
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}
.note-content code {
  color: #f66;
}
.note-content.hidden {
  display: none;
}
